img {
    width: 100px;
}

.cabecalho {
    width: 1000px;
    height: 100px;
    background-color: wheat;
}

.primeirasecao {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1000px;
    height: 500px;
    background-color: rgb(56, 139, 218);
}

.divisao {

    width: 200px;
    height: 200px;
    background-color: brown;

}