img {
    width: 100px;
}

.cabecalho {
    width: 1000px;
    height: 100px;
    background-color: wheat;
}

.primeirasecao {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1000px;
    height: 500px;
    background-color: rgb(94, 117, 139);
}

.divisao {

    width: 400px;
    height: 400px;
    background-color: rgb(192, 23, 23);

}